<!DOCTYPE html>
<html>
<head>
    <title>Genetic Algorithm Results</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            background-image: url("../static/algo.jpg");
            background-size: cover;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
    </style>
</head>
<body>
    <h1>Genetic Algorithm Results</h1>
    <img src="{{ url_for('static', filename='plot.png') }}" alt="Best Route">
</body>
</html>
